In [1]:
import pandas as pd
path="C:\\Users\sunid\\Desktop\\hackathon project data set\\Sleep_health_and_lifestyle_dataset.csv"
data=pd.read_csv(path)
data

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic Pressure,Diastolic Pressure
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,None,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,None,125,80
2,3,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,None,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95

# Create two new columns for Systolic and Diastolic Pressure
data['Systolic Pressure'], data['Diastolic Pressure'] = zip(*data['Blood Pressure'].apply(lambda x: map(int, x.split('/'))))

# Drop the original "BloodPressure" column if needed
data = data.drop('Blood Pressure', axis=1)

# Save the DataFrame to a new CSV file
data.to_csv("Sleep_health_and_lifestyle_dataset.csv", index=False)

data.info()

In [2]:
data=data.drop('Person ID',axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   374 non-null    object
 1   Age                      374 non-null    int64
 2   Occupation               374 non-null    object
 3   Sleep Duration           374 non-null    float64
 4   Quality of Sleep         374 non-null    int64
 5   Physical Activity Level  374 non-null    int64
 6   Stress Level             374 non-null    int64
 7   BMI Category             374 non-null    object
 8   Heart Rate               374 non-null    int64
 9   Daily Steps              374 non-null    int64
 10  Sleep Disorder           374 non-null    object
 11  Systolic Pressure        374 non-null    int64
 12  Diastolic Pressure       374 non-null    int64
dtypes: float64(1), int64(8), object(4)
memory usage: 38.1+ KB

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   374 non-null    object
 1   Age                      374 non-null    int64
 2   Occupation               374 non-null    object
 3   Sleep Duration           374 non-null    float64
 4   Quality of Sleep         374 non-null    int64
 5   Physical Activity Level  374 non-null    int64
 6   Stress Level             374 non-null    int64
 7   BMI Category             374 non-null    object
 8   Heart Rate               374 non-null    int64
 9   Daily Steps              374 non-null    int64
 10  Sleep Disorder           374 non-null    object
 11  Systolic Pressure        374 non-null    int64
 12  Diastolic Pressure       374 non-null    int64
dtypes: float64(1), int64(8), object(4)
memory usage: 38.1+ KB

In [4]:
print(data['Gender'].unique())
print(data['Occupation'].unique())
print(data['Sleep Disorder'].unique())
print(data['BMI Category'].unique())

['Male' 'Female']
['Software Engineer' 'Doctor' 'Sales Representative' 'Teacher' 'Nurse'
 'Engineer' 'Accountant' 'Scientist' 'Lawyer' 'Salesperson' 'Manager']
['None' 'Sleep Apnea' 'Insomnia']
['Overweight' 'Normal' 'Obese' 'Normal Weight']

In [5]:
data['Gender']=data['Gender'].map({'Male':0,'Female':1})
data['Occupation']=data['Occupation'].map({'Software Engineer':0,'Doctor':1,'Sales Representative':2,'Teacher':3,'Nurse':4})
data['Sleep Disorder']=data['Sleep Disorder'].map({'None':0,'Sleep Apnea':1,'Insomnia':2,'former':3})
data['BMI Category']=data['BMI Category'].map({'Overweight':0,'Normal':1,'Obese':2,'former':3,'Normal Weight':4,})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   374 non-null    int64
 1   Age                      374 non-null    int64
 2   Occupation               190 non-null    float64
 3   Sleep Duration           374 non-null    float64
 4   Quality of Sleep         374 non-null    int64
 5   Physical Activity Level  374 non-null    int64
 6   Stress Level             374 non-null    int64
 7   BMI Category             374 non-null    int64
 8   Heart Rate               374 non-null    int64
 9   Daily Steps              374 non-null    int64
 10  Sleep Disorder           374 non-null    int64
 11  Systolic Pressure        374 non-null    int64
 12  Diastolic Pressure       374 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 38.1 KB

In [6]:
data.Occupation=data.Occupation.fillna(data.Occupation.median())
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   374 non-null    int64
 1   Age                      374 non-null    int64
 2   Occupation               374 non-null    float64
 3   Sleep Duration           374 non-null    float64
 4   Quality of Sleep         374 non-null    int64
 5   Physical Activity Level  374 non-null    int64
 6   Stress Level             374 non-null    int64
 7   BMI Category             374 non-null    int64
 8   Heart Rate               374 non-null    int64
 9   Daily Steps              374 non-null    int64
 10  Sleep Disorder           374 non-null    int64
 11  Systolic Pressure        374 non-null    int64
 12  Diastolic Pressure       374 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 38.1 KB

In [7]:
data

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic Pressure,Diastolic Pressure
0,0,27,0.0,6.1,6,42,6,0,77,4200,0,126,83
1,0,28,1.0,6.2,6,60,8,1,75,10000,0,125,80
2,0,28,1.0,6.2,6,60,8,1,75,10000,0,125,80
3,0,28,2.0,5.9,4,30,8,2,85,3000,1,140,90
4,0,28,2.0,5.9,4,30,8,2,85,3000,1,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,1,59,4.0,8.1,9,75,3,0,68,7000,1,140,95
370,1,59,4.0,8.0,9,75,3,0,68,7000,1,140,95
371,1,59,4.0,8.1,9,75,3,0,68,7000,1,140,95
372,1,59,4.0,8.1,9,75,3,0,68,7000,1,140,95
373,1,59,4.0,8.1,9,75,3,0,68,7000,1,140,95

In [8]:
inputs=data.drop('Sleep Disorder',axis=1)
outputs=data.drop(['Gender','Age','Occupation','Sleep Duration','Quality of Sleep','Physical Activity Level','Stress Level','BMI Category','Heart Rate','Daily Steps','Systolic Pressure','Diastolic Pressure'],axis=1)

In [9]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,outputs,test_size=0.2)

from sklearn.ensemble import RandomForestClassifier  #randomforest algorithm used
model=RandomForestClassifier(n_estimators=300)
model.fit(x_train,y_train)

y_pred=model.predict(x_test)

a=model.predict([[1,59,4.0,8.1,9,75,3,0,68,7000,140,95]])
print(a[0])

C:\Users\sunid\AppData\Local\Temp\ipykernel_13064\1427697513.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

1

C:\Users\sunid\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [10]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)  #96 percent accuracy

[[47  1  0]
 [ 3 12  0]
 [ 2  3  7]]