In [51]:
import pandas as pd
path="C:\\Users\sunid\\Desktop\\hackathon project data set\\pcos_data\\data without infertility _final.csv"
data=pd.read_csv(path)
data

,no,fileno,PCOS (Y/N),age,Weight (Kg),heightcm,BMI,Blood Group,pulse(bpm),RR (breaths/min),...,fastfood,Reg.Exercise(Y/N),BP _Systolic (mmHg),BP(diastolic),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 42
0,1,10001,0,28,44.6,152.000,19.300000,15,78,22,...,1.0,0,110,80,3,3,18.0,18.0,8.5,NaN
1,2,10002,0,36,65.0,161.500,24.921163,15,74,20,...,0.0,0,120,70,3,5,15.0,14.0,3.7,NaN
2,3,10003,1,33,68.8,165.000,25.270891,11,72,18,...,1.0,0,120,80,13,15,18.0,20.0,10.0,NaN
3,4,10004,0,37,65.0,148.000,29.674945,13,72,20,...,0.0,0,120,70,2,2,15.0,14.0,7.5,NaN
4,5,10005,0,25,52.0,161.000,20.060954,11,72,18,...,0.0,0,120,80,3,4,16.0,14.0,7.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,537,10537,0,35,50.0,164.592,18.500000,17,72,16,...,0.0,0,110,70,1,0,17.5,10.0,6.7,NaN
537,538,10538,0,30,63.2,158.000,25.300000,15,72,18,...,0.0,0,110,70,9,7,19.0,18.0,8.2,NaN
538,539,10539,0,36,54.0,152.000,23.400000,13,74,20,...,0.0,0,110,80,1,0,18.0,9.0,7.3,NaN
539,540,10540,0,27,50.0,150.000,22.200000,15,74,20,...,0.0,0,110,70,7,6,18.0,16.0,11.5,NaN
540,541,10541,1,23,82.0,165.000,30.100000,13,80,20,...,1.0,0,120,70,9,10,19.0,18.0,6.9,NaN

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 43 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   no                    541 non-null    int64
 1   fileno                541 non-null    int64
 2   PCOS (Y/N)            541 non-null    int64
 3   age                   541 non-null    int64
 4   Weight (Kg)           541 non-null    float64
 5   heightcm              541 non-null    float64
 6   BMI                   541 non-null    float64
 7   Blood Group           541 non-null    int64
 8   pulse(bpm)            541 non-null    int64
 9   RR (breaths/min)      541 non-null    int64
 10  Hb(g/dl)              541 non-null    float64
 11  Cycle(R/I)            541 non-null    int64
 12  Cycle length(days)    541 non-null    int64
 13  marriagestatus        540 non-null    float64
 14  Pregnant(Y/N)         541 non-null    int64
 15  No. of aborptions     541 non-null    int64
 16  FSH(mIU/mL)           541 non-null    float64
 17  LH(mIU/mL)            541 non-null    float64
 18  FSH/LH                541 non-null    float64
 19  Hip(inch)             541 non-null    int64
 20  Waist(inch)           541 non-null    int64
 21  Waist:Hip Ratio       541 non-null    float64
 22  TSH (mIU/L)           541 non-null    float64
 23  AMH                   540 non-null    float64
 24  PRL(ng/mL)            541 non-null    float64
 25  Vit D3 (ng/mL)        541 non-null    float64
 26  PRG(ng/mL)            541 non-null    float64
 27  RBS(mg/dl)            541 non-null    float64
 28  Weight gain(Y/N)      541 non-null    int64
 29  hair growth(Y/N)      541 non-null    int64
 30  Skin darkening (Y/N)  541 non-null    int64
 31  Hair loss(Y/N)        541 non-null    int64
 32  Pimples(Y/N)          541 non-null    int64
 33  fastfood              540 non-null    float64
 34  Reg.Exercise(Y/N)     541 non-null    int64
 35  BP _Systolic (mmHg)   541 non-null    int64
 36  BP(diastolic)         541 non-null    int64
 37  Follicle No. (L)      541 non-null    int64
 38  Follicle No. (R)      541 non-null    int64
 39  Avg. F size (L) (mm)  541 non-null    float64
 40  Avg. F size (R) (mm)  541 non-null    float64
 41  Endometrium (mm)      541 non-null    float64
 42  Unnamed: 42           2 non-null      object
dtypes: float64(19), int64(23), object(1)
memory usage: 181.9+ KB

In [53]:
data.AMH=data.AMH.fillna(data.AMH.median())
data.fastfood=data.fastfood.fillna(data.fastfood.median())
data.marriagestatus=data.marriagestatus.fillna(data.marriagestatus.median())
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 43 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   no                    541 non-null    int64
 1   fileno                541 non-null    int64
 2   PCOS (Y/N)            541 non-null    int64
 3   age                   541 non-null    int64
 4   Weight (Kg)           541 non-null    float64
 5   heightcm              541 non-null    float64
 6   BMI                   541 non-null    float64
 7   Blood Group           541 non-null    int64
 8   pulse(bpm)            541 non-null    int64
 9   RR (breaths/min)      541 non-null    int64
 10  Hb(g/dl)              541 non-null    float64
 11  Cycle(R/I)            541 non-null    int64
 12  Cycle length(days)    541 non-null    int64
 13  marriagestatus        541 non-null    float64
 14  Pregnant(Y/N)         541 non-null    int64
 15  No. of aborptions     541 non-null    int64
 16  FSH(mIU/mL)           541 non-null    float64
 17  LH(mIU/mL)            541 non-null    float64
 18  FSH/LH                541 non-null    float64
 19  Hip(inch)             541 non-null    int64
 20  Waist(inch)           541 non-null    int64
 21  Waist:Hip Ratio       541 non-null    float64
 22  TSH (mIU/L)           541 non-null    float64
 23  AMH                   541 non-null    float64
 24  PRL(ng/mL)            541 non-null    float64
 25  Vit D3 (ng/mL)        541 non-null    float64
 26  PRG(ng/mL)            541 non-null    float64
 27  RBS(mg/dl)            541 non-null    float64
 28  Weight gain(Y/N)      541 non-null    int64
 29  hair growth(Y/N)      541 non-null    int64
 30  Skin darkening (Y/N)  541 non-null    int64
 31  Hair loss(Y/N)        541 non-null    int64
 32  Pimples(Y/N)          541 non-null    int64
 33  fastfood              541 non-null    float64
 34  Reg.Exercise(Y/N)     541 non-null    int64
 35  BP _Systolic (mmHg)   541 non-null    int64
 36  BP(diastolic)         541 non-null    int64
 37  Follicle No. (L)      541 non-null    int64
 38  Follicle No. (R)      541 non-null    int64
 39  Avg. F size (L) (mm)  541 non-null    float64
 40  Avg. F size (R) (mm)  541 non-null    float64
 41  Endometrium (mm)      541 non-null    float64
 42  Unnamed: 42           2 non-null      object
dtypes: float64(19), int64(23), object(1)
memory usage: 181.9+ KB

In [54]:
data=data.drop(['no','fileno','Unnamed: 42'],axis=1)
data

,PCOS (Y/N),age,Weight (Kg),heightcm,BMI,Blood Group,pulse(bpm),RR (breaths/min),Hb(g/dl),Cycle(R/I),...,Pimples(Y/N),fastfood,Reg.Exercise(Y/N),BP _Systolic (mmHg),BP(diastolic),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm)
0,0,28,44.6,152.000,19.300000,15,78,22,10.48,2,...,0,1.0,0,110,80,3,3,18.0,18.0,8.5
1,0,36,65.0,161.500,24.921163,15,74,20,11.70,2,...,0,0.0,0,120,70,3,5,15.0,14.0,3.7
2,1,33,68.8,165.000,25.270891,11,72,18,11.80,2,...,1,1.0,0,120,80,13,15,18.0,20.0,10.0
3,0,37,65.0,148.000,29.674945,13,72,20,12.00,2,...,0,0.0,0,120,70,2,2,15.0,14.0,7.5
4,0,25,52.0,161.000,20.060954,11,72,18,10.00,2,...,0,0.0,0,120,80,3,4,16.0,14.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,0,35,50.0,164.592,18.500000,17,72,16,11.00,2,...,0,0.0,0,110,70,1,0,17.5,10.0,6.7
537,0,30,63.2,158.000,25.300000,15,72,18,10.80,2,...,0,0.0,0,110,70,9,7,19.0,18.0,8.2
538,0,36,54.0,152.000,23.400000,13,74,20,10.80,2,...,0,0.0,0,110,80,1,0,18.0,9.0,7.3
539,0,27,50.0,150.000,22.200000,15,74,20,12.00,4,...,1,0.0,0,110,70,7,6,18.0,16.0,11.5
540,1,23,82.0,165.000,30.100000,13,80,20,10.20,4,...,1,1.0,0,120,70,9,10,19.0,18.0,6.9

In [55]:
inputs=data.drop('PCOS (Y/N)',axis=1)
inputs

,age,Weight (Kg),heightcm,BMI,Blood Group,pulse(bpm),RR (breaths/min),Hb(g/dl),Cycle(R/I),Cycle length(days),...,Pimples(Y/N),fastfood,Reg.Exercise(Y/N),BP _Systolic (mmHg),BP(diastolic),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm)
0,28,44.6,152.000,19.300000,15,78,22,10.48,2,5,...,0,1.0,0,110,80,3,3,18.0,18.0,8.5
1,36,65.0,161.500,24.921163,15,74,20,11.70,2,5,...,0,0.0,0,120,70,3,5,15.0,14.0,3.7
2,33,68.8,165.000,25.270891,11,72,18,11.80,2,5,...,1,1.0,0,120,80,13,15,18.0,20.0,10.0
3,37,65.0,148.000,29.674945,13,72,20,12.00,2,5,...,0,0.0,0,120,70,2,2,15.0,14.0,7.5
4,25,52.0,161.000,20.060954,11,72,18,10.00,2,5,...,0,0.0,0,120,80,3,4,16.0,14.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,35,50.0,164.592,18.500000,17,72,16,11.00,2,5,...,0,0.0,0,110,70,1,0,17.5,10.0,6.7
537,30,63.2,158.000,25.300000,15,72,18,10.80,2,5,...,0,0.0,0,110,70,9,7,19.0,18.0,8.2
538,36,54.0,152.000,23.400000,13,74,20,10.80,2,6,...,0,0.0,0,110,80,1,0,18.0,9.0,7.3
539,27,50.0,150.000,22.200000,15,74,20,12.00,4,2,...,1,0.0,0,110,70,7,6,18.0,16.0,11.5
540,23,82.0,165.000,30.100000,13,80,20,10.20,4,7,...,1,1.0,0,120,70,9,10,19.0,18.0,6.9

In [56]:
outputs= data.drop(['age','Weight (Kg)','heightcm','BMI','Blood Group','pulse(bpm)','RR (breaths/min)','Hb(g/dl)','Cycle(R/I)','Cycle length(days)','marriagestatus','Pregnant(Y/N)','No. of aborptions','FSH(mIU/mL)','LH(mIU/mL)','FSH/LH','Hip(inch)','Waist(inch)','Waist:Hip Ratio','TSH (mIU/L)','AMH','PRL(ng/mL)','Vit D3 (ng/mL)','PRG(ng/mL)','RBS(mg/dl)','Weight gain(Y/N)','hair growth(Y/N)','Skin darkening (Y/N)','Hair loss(Y/N)','Pimples(Y/N)','fastfood','Reg.Exercise(Y/N)','BP _Systolic (mmHg)','BP(diastolic)','Follicle No. (L)','Follicle No. (R)','Avg. F size (L) (mm)','Avg. F size (R) (mm)','Endometrium (mm)'],axis=1)
outputs

     PCOS (Y/N)
0             0
1             0
2             1
3             0
4             0
..          ...
536           0
537           0
538           0
539           0
540           1

[541 rows x 1 columns]

In [57]:
search_string = '.'

# Iterate through each column
for column in data.columns:
    # Iterate through each row in the column
    for index, value in data[column].iteritems():
        if value == search_string:
            print(f'The string "{search_string}" is in column "{column}" and row index "{index}"')
            break

C:\Users\sunid\AppData\Local\Temp\ipykernel_30612\13588368.py:6: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for index, value in data[column].iteritems():

In [58]:
import sklearn
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(inputs,outputs,test_size=0.2)

from sklearn.ensemble import RandomForestClassifier  #randomforest algorithm used
model=RandomForestClassifier(n_estimators=200)
model.fit(x_train,y_train)

y_pred=model.predict(x_test)

a=model.predict([[37,48,150,21.33333333,11,75,20,10.2,2,5,2,0,1,15.45,4.364,3.540329973,38,34,0.894736842,1.2,4.91,17.05,29.47,0.52,98,0,0,0,0,0,0,0,110,70,0,2,0,9,8.6]])
print(a[0])

C:\Users\sunid\AppData\Local\Temp\ipykernel_30612\3414943921.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

0

C:\Users\sunid\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [59]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm) #90 percent accuracy

[[73  1]
 [10 25]]